<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft to Bloxd</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Independent progress bar and status -->
    <div id="progress-bar-container" style="display: none;">
        <div id="progress-bar"></div>
    </div>
    <div id="progress-status" style="display: none;"></div>

    <div class="frame">
        <div class="background-box"></div>
        <div class="text-box">
            <h1>MINECRAFT TO BLOXD</h1>
        </div>
        <p class="description-text">Discover new possibilities through the Minecraft to Bloxd Texture Pack Converter</p>
        <img src="https://i.imgur.com/ZX1PG1m.png" alt="Icon" class="center-icon">
        <p class="resource-pack-text">Click to choose your Minecraft Resource Pack zip file</p>
        <div class="dashed-box" id="uploadfile">
            <input type="file" id="fileInput" name="file" style="display: none;">
        </div>

        <!-- Download button (initially hidden) -->
        <a href="#" id="downloadButton" class="download-button"></a>
        </div>

        <a href="#" class="discord-link">Join the Discord Server to learn more!</a>
        <img src="https://i.imgur.com/uQyWmNo.png" alt="Top-left icon" class="top-left-icon">
    </div>
    
    <script src="static/js/upload.js"></script>
</body>
</html>